/*Principal --------------- */
body{
    width: 100%;
}

.principal{
display: flex;
width: 100%;
justify-content: center;
align-items: center;
display: grid;
}

/*Principal Fin--------------- */

/*Banner --------------- */
.banner{
    text-align: center;
}
.texto-azul{
    color: cornflowerblue;
}
/*menu principal botones con imagenes --------------- */
.menu-principal{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6,1fr);
    grid-column-start: 1;
    grid-column-end: 3;
   
}
.ima-container-menu{
    height: 30px;
    padding: 5px;
}
.imagen-menu{
    object-fit: contain;
    height: 100%;
}

.Menu-btn{
    cursor: pointer;
}
/*
.principal-banner{
    position: fixed;
}
*/

#busqueda-menu{
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
grid-column-start: 3;
grid-column-end: 4;
column-gap: 10px;
}

#menu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color:rgb(237, 244, 250);

}

.botones-search{
    display: inline-block;
}


.btnf{
    width: 60px;
    height: 30px;
    font-size:1.2vw;
}

.btn-Login:hover{
    background-color: #3e8e41;
    color: white;
      
}

.btn-Sign:hover{
    background-color: #3e8e41;
    color: white;
      
}

/*Banner Fin--------------- */

/*Imagen Principal--------------- */
.Gap-menu-imagen{
    height: 10px; 
}
.principal-imagen-inicio-contenedor{
    height: 620px;
    width: 100%;
    padding: 0px;
    row-gap: 20px;
    display: flex;
    justify-content: center;
}
.imagen-principal{
   /* object-fit: contain; */
    height: 100%;
    width: 100%;
}
/*Fin Imagen Principal--------------- */


/*Menu de cabañas con foto--------------- */
.Gap-menu-imagen2{
    height: 70px; 
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: black;
}
.principal-menu-cabanas{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2, 400px);
    column-gap: 10px;
    row-gap: 50px;
}
.cabana-scrol{
    display: grid;
    width: 250px;
    column-gap: 0px;
    row-gap: 0px;
    align-items: center;
    background-color:azure;
    border-radius: 5px; 
    border: 1px solid #89d2ef;
    
}

.contenedor-ima-cabana:hover img{
    transform: scale(1.15);
    box-shadow: 0 0 10p rgb(0, 0, 0, 0.5);
}

.imagen-cabana{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.contenedor-ima-cabana{
    height: 120px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .2s; /* Animation */
}
.imagen-cabana{
    object-fit:contain;
    width: 209px;
    height: 117px;
}
.descripcion-cabana{
    display: grid;
    column-gap: 0px;
    row-gap: 0px;
}
.contenedor-boton-carrito{
    display: flex;
    justify-content: center;
}
.boton-carrito{
    /* color:rgb(77, 87, 87); */
    
    margin: 10;
    color: white;
    /* background-color: rgb(0, 191, 255); */
    background-color: rgb(5, 32, 41); 
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    cursor: pointer;
}
.menu-lista{
    list-style: none;
    margin-top: 10px;
    padding-left: 30px;
    line-height: 1.35em;
    font-size: 15px;
}
.lista-titulo{
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5em;
    margin-bottom: 2px;
}
.lista-precio{
    margin-top: 5px;
    font-weight: bold;
}
.scrol1{
    grid-column-start: 2;
    grid-column-end: 3;
}
.scrol2{
    grid-column-start: 3;
    grid-column-end: 4;
}
.scrol3{
    grid-column-start: 4;
    grid-column-end: 5;
}
.scrol4{
    grid-column-start: 2;
    grid-column-end: 3;
}
.scrol5{
    grid-column-start: 3;
    grid-column-end: 4;
}
.scrol6{
    grid-column-start: 4;
    grid-column-end: 5;
}
/*Menu de cabañas con foto Fin--------------- */

.MainCar{
    display: flex;
    justify-content: center;
}

.Contnedor-carrousel{
    display: flex;
    width: 800px;
    justify-content: center;
    align-items: center;
}
/* #carouselExampleDark{
    width: 100%;
    height: 100%;
} */

.d-block{
    object-fit: contain; 
    
    
} 

.Gap-menu-carousel{
    height: 20px;
}

/*Aserca de--------------- */
.Gap-aserca-de{
    height: 10px;
}
.Aserca-de{
    height: 300px; 
    background-color:gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Footer{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
}

.Image-Icon-footer{
    /* width: 100%; */
    width: 30px;
    height: 30px; 
}

.iconfooter{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;  
}

.Cont-icon-footer{
    height: 30px; 
    width: 100%;
   display: inline-flex;
   justify-content: left;
   align-items: center;
   text-align: center;
   column-gap: 20px;
}

.elemento{
text-align: center;

width: 100%;
height: 100%;
font-size: 5%;
}

.Footer1{
    width: 250px;
   
}

/*Modal ---------------*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }


.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  /* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #3239b9;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #3239b9;
    color: white;
  }

  /* Fin del modal */

  /* Dropdown estilo */

  /* .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  } */
  
.dropbtn{
    cursor: pointer;
}

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */