/*Principal --------------- */
body{
    width: 100%;
}

.principal{
width: 100%;
justify-content: center;
display: grid;
}

/*Principal Fin--------------- */

/*Banner --------------- */
.banner{
    text-align: center;
}
.texto-azul{
    color: cornflowerblue;
}
/*menu principal botones con imagenes --------------- */
.menu-principal{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6,1fr);
    grid-column-start: 1;
    grid-column-end: 3;
   
}
.ima-container-menu{
    height: 30px;
    padding: 5px;
}
.imagen-menu{
    object-fit: contain;
    height: 100%;
}

/*
.principal-banner{
    position: fixed;
}
*/

#busqueda-menu{
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
grid-column-start: 3;
grid-column-end: 4;
column-gap: 10px;
}

#menu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color:rgb(237, 244, 250);

}

.btn-Login:hover{
    background-color: #3e8e41;
    color: white;
      
}

/*Banner Fin--------------- */

/*Imagen Principal--------------- */
.Gap-menu-imagen{
    height: 10px; 
}
.principal-imagen-inicio-contenedor{
    height: 620px;
    width: 100%;
    padding: 0px;
    row-gap: 20px;
    display: flex;
    justify-content: center;
}
.imagen-principal{
   /* object-fit: contain; */
    height: 100%;
    width: 100%;
}
/*Fin Imagen Principal--------------- */


/*Menu de cabañas con foto--------------- */
.Gap-menu-imagen2{
    height: 70px; 
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: black;
}
.principal-menu-cabanas{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2, 400px);
    column-gap: 10px;
    row-gap: 50px;
}
.cabana-scrol{
    display: grid;
    column-gap: 2px;
    row-gap: 0px;
    background-color:azure;
    border-radius: 5px; 
    border: 1px solid #89d2ef
    
}

.contenedor-ima-cabana :hover img{
    transform: scale(1.5);
    box-shadow: 0 0 10p rgb(0, 0, 0, 0.5);
}

img{
    display: flex;
    width: 100%;
    height: 100%;
}

.contenedor-ima-cabana{
    height: 200px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .2s; /* Animation */
}
.imagen-cabana{
    object-fit:contain;
   width: 209px;
    height: 117px;
}
.descripcion-cabana{
    display: grid;
    column-gap: 2px;
    row-gap: 0px;
}
.contenedor-boton-carrito{
    display: flex;
    justify-content: center;
}
.boton-carrito{
    color:rgb(77, 87, 87);
    
    margin: 10;
    background-color: rgb(0, 191, 255);
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    cursor: pointer;
}
.menu-lista{
    list-style: none;
    margin-top: 10px;
    padding-left: 30px;
    line-height: 1.35em;
    font-size: 15px;
}
.lista-titulo{
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5em;
    margin-bottom: 2px;
}
.lista-precio{
    margin-top: 5px;
    font-weight: bold;
}
.scrol1{
    grid-column-start: 2;
    grid-column-end: 3;
}
.scrol2{
    grid-column-start: 3;
    grid-column-end: 4;
}
.scrol3{
    grid-column-start: 4;
    grid-column-end: 5;
}
.scrol4{
    grid-column-start: 2;
    grid-column-end: 3;
}
.scrol5{
    grid-column-start: 3;
    grid-column-end: 4;
}
.scrol6{
    grid-column-start: 4;
    grid-column-end: 5;
}
/*Menu de cabañas con foto Fin--------------- */



.carousel-item{
    width: 1400px;
    height: 800px;
}
.Gap-menu-carousel{
    height: 20px;
}

/*Aserca de--------------- */
.Gap-aserca-de{
    height: 10px;
}
.Aserca-de{
    height: 300px; 
    background-color:gainsboro;
}